@model PipSep.Models.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Page</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Content</div>
    <div class="display-field">
		@Html.Raw(Model.Content)
    </div>

    <div class="display-label">Appears in menu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMenu)
    </div>

    <div class="display-label">Appears in blog</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsBlog)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsComment)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Sticky</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSticky)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
