<nav>
	<ul id="menu">
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("Pages", "Index", "Page")</li>
		<li>@Html.ActionLink("Profile", "Profile", "Home")</li>
		<li>@Html.ActionLink("Application","EditCreate","CV")</li>
		<li>@Html.ActionLink("PipSep","Index","PeopleSeparator")</li>
		<li>@Html.ActionLink("CV Editor","Index","CV")</li>
	</ul>
</nav>